@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 188 70% 93%;
    --foreground: 200 15% 25%;
    --card: 0 0% 100%;
    --card-foreground: 200 15% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 15% 25%;
    --primary: 198 90% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188 60% 85%;
    --secondary-foreground: 198 30% 25%;
    --muted: 188 50% 88%;
    --muted-foreground: 188 30% 45%;
    --accent: 174 38% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 188 30% 80%;
    --input: 188 40% 90%;
    --ring: 198 90% 64%;
    --chart-1: 198 90% 64%;
    --chart-2: 174 38% 64%;
    --chart-3: 188 60% 75%;
    --chart-4: 198 70% 50%;
    --chart-5: 174 50% 50%;
    --radius: 0.5rem;

    --sidebar-background: 190 60% 88%;
    --sidebar-foreground: 200 15% 25%;
    --sidebar-primary: 198 90% 64%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 174 38% 64%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 188 30% 80%;
    --sidebar-ring: 198 90% 64%;
  }

  .dark {
    --background: 200 30% 10%;
    --foreground: 188 70% 93%;
    --card: 200 30% 15%;
    --card-foreground: 188 70% 93%;
    --popover: 200 30% 15%;
    --popover-foreground: 188 70% 93%;
    --primary: 198 90% 64%;
    --primary-foreground: 200 30% 10%;
    --secondary: 200 30% 25%;
    --secondary-foreground: 188 70% 85%;
    --muted: 200 30% 20%;
    --muted-foreground: 188 50% 70%;
    --accent: 174 38% 64%;
    --accent-foreground: 200 30% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 30% 25%;
    --input: 200 30% 20%;
    --ring: 198 90% 64%;
    --chart-1: 198 90% 64%;
    --chart-2: 174 38% 64%;
    --chart-3: 188 60% 75%;
    --chart-4: 198 70% 50%;
    --chart-5: 174 50% 50%;

    --sidebar-background: 200 30% 12%;
    --sidebar-foreground: 188 70% 93%;
    --sidebar-primary: 198 90% 64%;
    --sidebar-primary-foreground: 200 30% 10%;
    --sidebar-accent: 174 38% 64%;
    --sidebar-accent-foreground: 200 30% 10%;
    --sidebar-border: 200 30% 25%;
    --sidebar-ring: 198 90% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
